
.content {
  display: grid;
  grid-template-columns: 33% auto 33%;
  grid-template-rows: 10% 10% 20% 20% 20% 10% 10%;
  align-items: center;
  position: fixed;
  top: -15px;
}

.content:before {
  content: "";
  position: fixed;
  z-index: -1;
  background-image: url('https://cdn.pixabay.com/photo/2016/06/17/06/04/background-1462755_960_720.jpg');
  background-size: cover;
  width: 110%;
  height: 110%;
  filter: blur(5px);
}

h3 {
  font: Verdana;
  font-family: sans-serif;
}

p {
  font: Verdana;
  font-family: sans-serif;
  font-weight: 500;
  position: relative;
  font-size: 18px;
}
 .navbar {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  text-align: right;
  padding-right: 110px;
  padding-top: 15px;
}

.navbar li {
  display: inline-block;
  padding: 13px;
  font-size: 18px;
  font: Verdana;
  font-family: sans-serif;
}

.navbar li a {
  text-decoration: none;
  display: inline-block;
  color: black;
}

.navbar li a:hover {
  color: black;

}

.navbar li:hover {
  background-color: white;
  }

.avatar {
  grid-column: 1 / 2;
  grid-row: 3/ 4;
  padding-left: 240px;
  padding-top: 12px;
  position: fixed;
  top: 63px;
}

 .avatar img {
  width: 150px;
  height: auto;
  border-radius: 50%;
}

 .bio {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  line-height: 0.8;
  font-family: sans-serif;
  padding-top: 93px;

}

.bio h1 {
  font: Garamond;
  font-weight: bold;
  text-shadow: 1px 1px gray;
}

.bio h2 {
  font: Garamond;
  font-weight: lighter;
  text-shadow: 1px 1px lightgray;
  font-style: italic;
  line-height: 1.1;
}

 .about {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  padding-top: 20px;

}

.about p {
  line-height: 1.5;
  background: rgba(255, 255, 255, 0.3);
  padding: 5px;
  box-shadow: 0 0 5px gray;
}

.about i {
  position: relative;
  top: 5px;
  left: 5px;
  text-shadow: 1.5px 2px black;
  font-size: 30px;
  color: white;
}

.about h3 {
  display: inline;
  padding-left: 10px;
  font-size: 20.8px;
  color: white;
  text-shadow: 1px 2px black;
}

table {
    border-collapse: collapse;
    border: 2px solid white;
    width: 100%;
    line-height: 2;
}

th {
  font-weight: 900;
  background-color: white;

}
th, td {
  padding-left: 10px;
  text-align: left;
}

td:hover {
  background-color: lightgray;
}

 .skills {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  box-sizing: border-box;
  padding-bottom: 30%;
  padding-left: 27px;
}

.skills i {
  position: relative;
  top: 5px;
  left: 5px;
  text-shadow: 1.5px 2px black;
  font-size: 30px;
  color: white;
}

.skills h3 {
  display: inline;
  padding-left: 10px;
  font-size: 20.8px;
  color: white;
  text-shadow: 1px 2px black;
}

.bars {
  margin: 15px;
  max-height: 80%;
  width: 100%;
  float: left;
}

.bars ul {
  text-align: left;
  font-size: 17px;
  list-style: square;
  position: absolute;

}

.contact {
 grid-column: 3 / 4;
 grid-row: 4 / 5;
 text-align: left;
 box-sizing: border-box;
 padding-bottom: 39%;
 padding-left: 23px;

}

.contact i {
  position: relative;
  top: 5px;
  left: 7px;
  text-shadow: 1.5px 2px black;
  font-size: 30px;
  color: white;

}

.icons {
   grid-column: 3 / 4;
   grid-row: 4 / 5;
   text-align: left;
   padding-left: 53px;
   padding-bottom: 50px;
   box-sizing: border-box;
   height: 35%;
   width: 80%;
  }

.icons i {
  position: absolute;
  color: white;
  font-size: 14px;
  padding-top: 23px;
  padding-right: 100%;
  text-align: left;


}

.icons a {
  text-decoration: none;
  color: black;
}

.icons a:hover {
  text-decoration: underline;
}

.icons p {
  text-align: left;
  padding-left: 23px;
  padding-top: 17px;
  margin: 0;
}

.contact h3 {
  display: inline;
  padding-left: 10px;
  font-size: 20.8px;
  color: white;
  text-shadow: 1px 2px black;
}

.footer {
 grid-column: 1 / 4;
 grid-row: 6 / 7;
 font-size: 5px;
 font-weight: bold;
 padding-left: 5px;
}
